.mainbox { 
    position: absolute;
    width: max-content;
    height: 70px;

    background: #FFE4E1;
}

.qrbox {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 320px;
    height: 400px;
    
    font-size: 20px;
    font-weight: bold;
    color: white;
    
    text-align: center;
    background-color: #B70000;
}

.bottombox1 {
    position: absolute;
    width: initial;
    height: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: #484040;
}

.bottombox2 {
    position: absolute;
    width: initial;
    height: 50px;
    left: 0px;
    right: 0px;
    bottom: 100px;

    background-color: #292929;
}

.total{
    position: absolute;
    top: 15%;
    right: 20%;
    width: fit-content;
    height: fit-content;
    
    font-family: 'Roboto';
    font-style: normal;
    font-size: 25px;
    color: white;
}

.account {
    position: absolute;
    top: 15%;
    right: 5%;
    width: fit-content;
    height: fit-content;
    
    font-family: 'Roboto';
    font-style: normal;
    font-size: 25px;
    color: white;
}

.card{
    position: relative;
    width: 50px;
    height: 420px;
    top: 145px;
    font-family: 'Roboto';
    font-size: 20px;
}

.calbtn {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #E30613;
}